<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Geddit Admin</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/animate/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/default/style.min.css" rel="stylesheet" />
    <link href="~/assets/css/default/style-responsive.min.css" rel="stylesheet" />
    <link href="~/assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
    <link href="~/assets/plugins/jquery-smart-wizard/src/css/smart_wizard.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="~/assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css" rel="stylesheet" />
    <link href="~/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/assets/plugins/nvd3/build/nv.d3.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
    <body>
        <!-- begin #page-loader -->
        <div id="page-loader" class="fade show"><span class="spinner"></span></div>
        <!-- end #page-loader -->
        <!-- begin #page-container -->
        <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
            <!-- begin #header -->
            <div id="header" class="header navbar-default">
                <!-- begin navbar-header -->
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> <b>Geddit</b> Admin</a>
                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- end navbar-header -->
                <!-- begin header-nav -->
                <ul class="navbar-nav navbar-right">
          
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/assets/img/user/user-13.jpg" alt="" />
                            <span class="d-none d-md-inline">@User.Identity.Name</span> <b class="caret"></b>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:;" class="dropdown-item">Edit Profile</a>
                            <a href="javascript:;" class="dropdown-item"><span class="badge badge-danger pull-right">2</span> Inbox</a>
                            <a href="javascript:;" class="dropdown-item">Calendar</a>
                            <a href="javascript:;" class="dropdown-item">Setting</a>
                            <div class="dropdown-divider"></div>

                            <a href="@Url.Action("Logout", "Auth", new { area = "Admin" })" class="dropdown-item">Log Out</a>
                                 
                            
                        </div>
                    </li>
                </ul>
                <!-- end header navigation right -->
            </div>
            <!-- end #header -->
            <!-- begin #sidebar -->
            <div id="sidebar" class="sidebar">
                <!-- begin sidebar scrollbar -->
                <div data-scrollbar="true" data-height="100%">
                      <!-- begin sidebar nav -->
                    <ul class="nav">
                        <li class="nav-header">Navigation</li>

                        <li><a href="@Url.Action("Index", "Dashboard", new { area = "Admin" })"><i class="fa fa-th-large"></i> <span>Dashboard</span></a></li>

                        <li class="has-sub">
                            <a href="#"><i class="fa fa-users"></i> <span>User Management</span></a>
                            <ul class="sub-menu">
                                <li><a href="#">Create user</a></li>
                                <li><a href="#">Find user</a></li>
                            </ul>
                        </li>

                        <li class="has-sub">
                            <a href="#"><i class="fa fa-map-pin"></i> <span>Points of Interest</span></a>
                            <ul class="sub-menu">
                                <li><a href="#">Create Point of Interest</a></li>
                                <li><a href="#">Find Points of Interest</a></li>                                
                            </ul>
                        </li>

                        <li><a href="#"><i class="fa fa-cubes"></i> <span>Actions</span></a></li>
                        <li><a href="#"><i class="fa fa-puzzle-piece"></i> <span>Content</span></a></li>
                        <li><a href="#"><i class="fa fa-images"></i> <span>UI Editor</span></a></li>
                        <li><a href="#"><i class="fa fa-inbox"></i> <span>Messaging</span></a></li>
                        <li><a href="#"><i class="fa fa-chart-line"></i> <span>Analytics</span></a></li>
                        <li><a href="#"><i class="fa fa-wrench"></i> <span>Logs</span></a></li>

                    </ul>
                    <!-- end sidebar nav -->
                </div>
                <!-- end sidebar scrollbar -->
            </div>
            <div class="sidebar-bg"></div>
            <!-- end #sidebar -->

            <!-- begin #content -->
            <div id="content" class="content">
                @RenderBody()
            </div>
            <!-- end #content -->
   

        </div>
        <!-- end page container -->
        <!-- ================== BEGIN BASE JS ================== -->
        <script src="~/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
        <script src="~/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
        <!--[if lt IE 9]>
            <script src="../assets/crossbrowserjs/html5shiv.js"></script>
            <script src="../assets/crossbrowserjs/respond.min.js"></script>
            <script src="../assets/crossbrowserjs/excanvas.min.js"></script>
        <![endif]-->
        <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="~/assets/plugins/js-cookie/js.cookie.js"></script>
        <script src="~/assets/js/theme/default.min.js"></script>
        <script src="~/assets/js/apps.min.js"></script>
        <!-- ================== END BASE JS ================== -->
        <!-- ================== BEGIN PAGE LEVEL JS ================== -->
        <script src="~/assets/plugins/d3/3.5.2/d3.min.js"></script>
        <script src="~/assets/plugins/nvd3/build/nv.d3.js"></script>
        <script src="~/assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
        <script src="~/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js"></script>
        <script src="~/assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>
        <script src="~/assets/plugins/gritter/js/jquery.gritter.js"></script>
        <script src="~/assets/js/demo/dashboard-v2.min.js"></script>
        <!-- ================== END PAGE LEVEL JS ================== -->

        <script>
            $(document).ready(function () {
                App.init();
                DashboardV2.init();
            });
        </script>

    </body>
</html>