@model GedditWeb.Areas.Admin.Models.POI.POIViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<script src="https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js"></script>
<link href="https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css" rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js"></script>

<style>

    #map {
        width: 100%;
        height: 1000px;
    }
</style>

<h1>@Model.State</h1>


@using (Html.BeginForm())
{

    if (Model.State == GedditWeb.Areas.Admin.Models.POI.POICreationState.Description)
    {
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Description
                        </h4>
                    </div>

                    <input type="text" class="form-control" placeholder="Name" />




                </div>

            </div>


            <div class="col-lg-6">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Model
                        </h4>
                    </div>

                    <input type="text" class="form-control" placeholder="Name" />

                    <select class="form-control">
                        <option>Tower</option>
                        <option>Coin</option>
                        <option>Thing</option>
                    </select>



                </div>

            </div>
        </div>
        <div class="row">
            <div class"col-lg-4">
                <button type="submit" class="btn btn-success btn-block btn-lg">Next</button>
            </div>
        </div>

    }

    if (Model.State == GedditWeb.Areas.Admin.Models.POI.POICreationState.Location)
    {
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-lg-12">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Point of Interest Locations
                        </h4>
                    </div>
                    <div id="map"></div>
                    <table id="data-table-responsive" class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th width="1%"></th>
                                <th width="1%" data-orderable="false"></th>
                                <th class="text-nowrap">Latitude</th>
                                <th class="text-nowrap">Longitude</th>
                                <th class="text-right">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td width="1%"><i class="fa fa-map-marker-alt"></i></td>
                                <td>52.65463</td>
                                <td>51.88598</td>
                                <td class="text-right"><a href="#" class="btn btn-xs btn-danger"><i class="fa fa-trash-alt"></i> Delete</a></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">2</td>
                                <td width="1%"><i class="fa fa-map-marker-alt"></i></td>
                                <td>52.65463</td>
                                <td>51.88598</td>
                                <td class="text-right"><a href="#" class="btn btn-xs btn-danger"><i class="fa fa-trash-alt"></i> Delete</a></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">3</td>
                                <td width="1%"><i class="fa fa-map-marker-alt"></i></td>
                                <td>52.65463</td>
                                <td>51.88598</td>
                                <td class="text-right"><a href="#" class="btn btn-xs btn-danger"><i class="fa fa-trash-alt"></i> Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end col-4 -->
        </div>

        <div class="row">
            <div class"col-lg-4">
                <button type="submit" class="btn btn-success btn-block btn-lg">Next</button>
            </div>
        </div>


        <script>
            L.mapbox.accessToken = "pk.eyJ1IjoibGF1cmdhbnRhIiwiYSI6ImNqbTh2Yzd0eDBpc2YzcXVrZ3JiNDU2c20ifQ.RIDqA_M7xhBtCwO9VBPa9g";
            var map = L.mapbox.map("map", "mapbox.streets")
                .setView([40, -74.50], 9)
                .addControl(L.mapbox.geocoderControl('mapbox.places', {
                    autocomplete: true
                }));

            map.on("click", function (e) {
                var marker = new L.marker(e.latlng,
                    {
                        icon: L.mapbox.marker.icon(
                            {
                                'marker-color': 'ff8888'
                            }),
                        draggable: true
                    });

                marker.addToMap(map);
            });
        </script>


    }

    if (Model.State == GedditWeb.Areas.Admin.Models.POI.POICreationState.Prize)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Prize
                        </h4>
                    </div>


                </div>

            </div>

        </div>
        <div class="row">
            <div class"col-lg-4">
                <button type="submit" class="btn btn-success btn-block btn-lg">Save Point of Interest</button>
            </div>
        </div>


    }

}
